# General
nohup.out
.DS_Store
.vscode/
ldcc-20140209.tar.gz
datasets.csv
datasets.ipynb
torch-lstm.ipynb
torch-lstm-batch.ipynb
torch-attention.ipynb
# Python-related
.ipynb_checkpoints/
__pycache__/

# direnv
.envrc

